<h2>Formulario para agregar productos</h2>
<form action="/api/productos/" method="POST">
    Title: <input type="text" name="title" />
    Price: <input type="number" name="price" />
    URL: <input type="text" name="thumbnail" />
    <button>Cargar producto</button>
</form>